/* line 1, ../../scss/mod_match_calendar.scss */
#calendar {
  width: 100%;
}
/* line 4, ../../scss/mod_match_calendar.scss */
#calendar .calMain {
  width: 90%;
  min-width: 180px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../scss/mod_match_calendar.scss */
#calendar .hidden {
  display: none;
}
/* line 16, ../../scss/mod_match_calendar.scss */
#calendar table {
  border: 1px solid black;
  width: 100%;
}
/* line 21, ../../scss/mod_match_calendar.scss */
#calendar table tbody {
  font-size: 0.9em;
}
/* line 25, ../../scss/mod_match_calendar.scss */
#calendar table th {
  text-align: center;
}
/* line 29, ../../scss/mod_match_calendar.scss */
#calendar table td {
  border: 1px dotted lightgray;
  text-align: center;
  background-color: whitesmoke;
}
/* line 35, ../../scss/mod_match_calendar.scss */
#calendar table td .day-number {
  margin: 1px;
  margin-right: 5%;
  margin-left: 5%;
  padding: 0;
  border-radius: 3px;
  border: 2px solid whitesmoke;
}
/* line 44, ../../scss/mod_match_calendar.scss */
#calendar table td .out {
  color: grey;
}
/* line 48, ../../scss/mod_match_calendar.scss */
#calendar table td .match {
  position: relative;
}
/* line 50, ../../scss/mod_match_calendar.scss */
#calendar table td .match .popup {
  position: absolute;
  right: 110%;
  top: -150%;
  display: none;
  background-color: whitesmoke;
  padding: 0.2em;
  border: 2px solid lightgrey;
  border-radius: 8px;
  z-index: 1300;
  color: black;
}
/* line 61, ../../scss/mod_match_calendar.scss */
#calendar table td .match .popup div {
  margin: 0.3em 0;
  border: 1px solid lightgrey;
  border-radius: 4px;
}
/* line 66, ../../scss/mod_match_calendar.scss */
#calendar table td .match .popup span {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}
/* line 71, ../../scss/mod_match_calendar.scss */
#calendar table td .match .popup span.summary {
  display: block;
  margin-bottom: 0.4em;
}
/* line 75, ../../scss/mod_match_calendar.scss */
#calendar table td .match .popup span.time {
  font-size: 0.9em;
  margin-right: 1em;
}
/* line 79, ../../scss/mod_match_calendar.scss */
#calendar table td .match .popup span.location {
  font-size: 0.85em;
}
/* line 83, ../../scss/mod_match_calendar.scss */
#calendar table td .match:hover .popup, #calendar table td .match:focus .popup {
  display: block;
}
/* line 88, ../../scss/mod_match_calendar.scss */
#calendar table td .match1 {
  border-left: 2px solid red;
}
/* line 91, ../../scss/mod_match_calendar.scss */
#calendar table td .match2 {
  border-right: 2px solid blue;
}
/* line 94, ../../scss/mod_match_calendar.scss */
#calendar table td .match3 {
  border-top: 2px solid green;
}
/* line 97, ../../scss/mod_match_calendar.scss */
#calendar table td .match4 {
  border-bottom: 2px solid yellow;
}
/* line 103, ../../scss/mod_match_calendar.scss */
#calendar tfoot {
  font-size: 0.6em;
}
/* line 107, ../../scss/mod_match_calendar.scss */
#calendar button {
  border: 1px solid gray;
  border-radius: 10px;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  padding-bottom: 2px;
  margin: 0;
}
/* line 117, ../../scss/mod_match_calendar.scss */
#calendar th.next button {
  padding-left: 2px;
}
/* line 121, ../../scss/mod_match_calendar.scss */
#calendar th.current button {
  padding-right: 2px;
}
